* {
    box-sizing: border-box;
}

/* * Element Selectors * */

/* * Class Selectors * */

.jumbotron {
    background: url("../img/jumbotron-background.jpg");
    background-size: cover;
    background-position: center;
    height: 65rem;
}

.thin-bottom-border {
    border-bottom: 0.5px ridge;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.card {
    border: none;
}

.content-col {
    margin-top: 3rem;
    margin-bottom: 3rem;
}   

/** ID Selectors **/
@media(min-width: 35.9375rem) {
    #navBar {
        align-items: flex-end;
    }
}

@media (min-width: 35.9375rem) {
    #mobile-branding {
        display: none;
        color: red;
    }
}

#form-div {
    margin: 26rem auto;
}