* {
    box-sizing: border-box;
}

/* * Element Selectors * */


/* * Class Selectors * */
.jumbotron {
    background: url("../img/jumbotron-background.jpg");
    background-size: cover;
    background-position: center;
    height: 65rem;
}

.card {
    border: none;
}

.content-col {
    margin-top: 3rem;
    margin-bottom: 3rem;
}   

/** ID Selectors **/
#form-div {
    margin: 26rem auto;
}